# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# Tool caches
.mypy_cache/
.ruff_cache/

# Env files
.env

# OS/editor
.DS_Store
.vscode/settings.json
